/**************************/
/* HEADER */
/**************************/
header {
  /* background: url(../assets/images/header-bg-img.jpg);
  background-position: center; */
  background-image: linear-gradient(
    45deg,
    hsl(240deg 71% 91%) 0%,
    hsl(262deg 100% 91%) 8%,
    hsl(289deg 100% 90%) 17%,
    hsl(303deg 100% 89%) 25%,
    hsl(313deg 100% 88%) 33%,
    hsl(327deg 100% 87%) 42%,
    hsl(345deg 100% 86%) 50%,
    hsl(6deg 100% 84%) 58%,
    hsl(23deg 100% 78%) 67%,
    hsl(34deg 100% 72%) 75%,
    hsl(43deg 100% 66%) 83%,
    hsl(50deg 100% 59%) 92%,
    hsl(55deg 100% 50%) 100%
  );
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fff;
}

.section-welcome {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.welcome-description {
  color: #000;
  font-size: 2.2rem;
}

.welcome-text-box h1 {
  color: #000;
  position: relative;
}

.welcome-text-box h1::after {
  content: "⎯";
  display: block;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 0.9rem;
  position: absolute;
}

.welcome-btn {
  margin: 4rem 0;
  background: none;
  border: 2px solid #000;
  color: #000;
  height: 3rem;
  width: 12rem;
  transition: all 0.3s ease;
}

.welcome-btn:hover {
  color: #fff;
  border: #fff;
}

/**************************/
/* ABOUT SECTION */
/**************************/

.section-about h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.section-about h2::after {
  content: "⎯⎯";
  position: absolute;
  top: 200%;
  left: 50%;
  color: red;
  transform: translate(-50%, -50%);
  display: block;
}

.about-description {
  text-align: center;
  margin: 6rem 0;
  color: #868e96;
}

.about-img-box {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 6.8rem;
}

.about-img {
  width: 33%;
  height: 150px;
  object-fit: cover;
}

/**************************/
/* WORK-INFO SECTION */
/**************************/

.section-work-info {
  margin: 3.2rem 0;
  background-color: #c3fae8;
}

.work-info-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
}

.work-info-box span,
.work-info-box p {
  color: #fff;
}

.work-info-box span {
  font-size: 4.5rem;
}

.work-info-box p {
  font-size: 1.2rem;
}

/**************************/
/* SERVICES SECTION */
/**************************/

.services-text-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.services-text-box h3 {
  letter-spacing: 1px;
  font-size: 2rem;
  position: relative;
  margin-top: 1.5rem;
}

.services-text-box h3::after {
  content: "⎯⎯";
  position: absolute;
  top: 200%;
  left: 50%;
  color: red;
  transform: translate(-50%, -50%);
  display: block;
}

.service {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.service-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #66d9e8;
}

.service-description p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.service-description span {
  line-height: 2;
}
