/**************************/
/* HEADER */
/**************************/
header {
  /* background: url(../assets/images/header-bg-img.jpg);
  background-position: center; */
  background-image: linear-gradient(
    45deg,
    hsl(240deg 71% 91%) 0%,
    hsl(262deg 100% 91%) 8%,
    hsl(289deg 100% 90%) 17%,
    hsl(303deg 100% 89%) 25%,
    hsl(313deg 100% 88%) 33%,
    hsl(327deg 100% 87%) 42%,
    hsl(345deg 100% 86%) 50%,
    hsl(6deg 100% 84%) 58%,
    hsl(23deg 100% 78%) 67%,
    hsl(34deg 100% 72%) 75%,
    hsl(43deg 100% 66%) 83%,
    hsl(50deg 100% 59%) 92%,
    hsl(55deg 100% 50%) 100%
  );
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fff;
}

.section-welcome {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.welcome-description {
  color: #000;
  font-size: 2.2rem;
}

.welcome-text-box h1 {
  color: #000;
  position: relative;
}

.welcome-text-box h1::after {
  content: "⎯";
  display: block;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 0.9rem;
  position: absolute;
}

.welcome-btn {
  margin: 4rem 0;
  background: none;
  border: 2px solid #000;
  color: #000;
  height: 3rem;
  width: 12rem;
  transition: all 0.3s ease;
}

.welcome-btn:hover {
  color: #fff;
  border: #fff;
}

/**************************/
/* ABOUT SECTION */
/**************************/

.section-about h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.section-about h2::after {
  content: "⎯⎯";
  position: absolute;
  top: 200%;
  left: 50%;
  color: red;
  transform: translate(-50%, -50%);
  display: block;
}

.about-description {
  text-align: center;
  margin: 6rem 0;
  color: #868e96;
}

.about-img-box {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 6.8rem;
}

.about-img {
  width: 33%;
  height: 150px;
  object-fit: cover;
}

/**************************/
/* WORK-INFO SECTION */
/**************************/

.section-work-info {
  margin: 3.2rem 0;
  background-color: #c3fae8;
}

.work-info-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
}

.work-info-box span,
.work-info-box p {
  color: #fff;
}

.work-info-box span {
  font-size: 4.5rem;
}

.work-info-box p {
  font-size: 1.2rem;
}

/**************************/
/* SERVICES SECTION */
/**************************/

.services-text-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.service {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.service-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #66d9e8;
}

.service-description p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.service-description span {
  line-height: 2;
}

/**************************/
/* UNIQUE DESIGN SECTION */
/**************************/

.section-unique-design {
  position: relative;
  overflow: hidden;
  margin: 6.8rem 0;
}

.section-unique-design::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/design-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  z-index: 1;
}

.section-unique-design .container {
  position: relative;
  z-index: 2;
}

.design-text-box {
  margin-top: 6.8rem;
  text-align: center;
}

.design-img {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}

.design-img::after {
  content: url(../assets/images/iphone.PNG);
  top: -55%;
  left: 40%;
  transform: scale(0.4);
  position: absolute;
  z-index: 100;
}

/**************************/
/* WHAT WE DO SECTION */
/**************************/

.section-what-we-do {
  margin: 6.8rem 0;
}

.what-text-box {
  margin-top: 6.8rem;
  text-align: center;
}

.what-description {
  text-align: center;
  margin-top: 6.8rem;
  font-size: 1.2rem;
  color: #868e96;
}

.what-accordion {
  margin: 6.8rem 0;
  height: 100%;
}

.what-img img {
  width: 100%;
}

.what-box {
  width: 100%;
  border: 2px solid #868e96;
  margin-bottom: 2rem;
}

.first-what {
  height: 68%;
}

.sec-what,
.third-what {
  height: 10%;
}

.what-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.what-box-body {
  border-top: 2px solid #868e96;
  font-size: 1.5rem;
}

.icon,
.arr-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #66d9e8;
}

.arr-icon {
  color: #868e96;
}

.inspiration-box {
  background-color: #f8f9fa;
}

.inspiration-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.big-icon {
  height: 6.8rem;
  width: 6.8rem;
  border: 2px solid #66d9e8;
  padding: 1rem;
  color: #66d9e8;
  margin: 3.2rem 0;
}

.inp-txt {
  font-size: 2rem;
  font-style: italic;
  max-width: 70ch;
  position: relative;
}

.inp-txt h6 {
  margin-top: 2rem;
  margin-left: 5rem;
}

.inp-txt h6::before {
  content: "⎯⎯";
  display: block;
  top: 92%;
  left: 2%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 0.9rem;
  color: red;
  position: absolute;
}

/**************************/
/* TEAM SECTION */
/**************************/

.section-team {
  margin: 6.8rem 0;
}

.team-text-box {
  margin-top: 6.8rem;
  text-align: center;
}

.team-description {
  text-align: center;
  margin-top: 6.8rem;
  font-size: 1.2rem;
  color: #868e96;
}

.team-img-big-box {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 6.8rem 0;
}

.team-img-box {
  text-align: center;
}

.team-img-box h5 {
  margin-top: 2rem;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
}
.team-img-box span {
  margin-top: 1.2rem;
  display: block;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}

.team-img-box img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/**************************/
/* LOGOS SECTION */
/**************************/

.section-logos {
  margin: 6.8rem 0;
  background-color: #f8f9fa;
}

.logos-box img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(100%);
}

/**************************/
/* WORK SECTION */
/**************************/
.work-text-box {
  margin-top: 6.8rem;
  text-align: center;
}

.work-description {
  text-align: center;
  margin-top: 6.8rem;
  font-size: 1.2rem;
  color: #868e96;
}

.team-images {
  margin: 6.8rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.team-images img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.team-span-img {
  grid-row: span 2;
  height: 100% !important;
}

.caption-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caption-box img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.caption-info {
  font-size: 2rem;
  font-style: italic;
  max-width: 70ch;
  position: relative;
  line-height: 3rem;
}

.caption-info h6 {
  margin-top: 2rem;
  margin-left: 5rem;
}

.caption-info h6::before {
  content: "⎯⎯";
  display: block;
  top: 83%;
  left: 2%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 0.9rem;
  color: red;
  position: absolute;
}

/**************************/
/* WORK SECTION */
/**************************/
.section-people-opinion {
  background: url(../assets/images/vertical-black-white-shot-rocky-formation-with-clouds.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 6.8rem 0;
}

.opinion-text-box {
  padding: 6.8rem 0;
  text-align: center;
}

.people {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mb-big {
  margin-bottom: 9rem;
}

.people-img img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  margin-right: 2rem;
}

.people-desc {
  color: #000;
}

.people-desc h6 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.people-desc span {
  font-size: 1.2rem;
  color: #171616;
  display: block;
  margin-bottom: 3rem;
  position: relative;
}

.people-desc span::after {
  content: "⎯⎯⎯⎯⎯";
  display: block;
  top: 200%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 0.9rem;
  color: red;
  position: absolute;
}

.people-desc p {
  font-size: 1.2rem;
  color: #000;
}

/**************************/
/* BLOG SECTION */
/**************************/

.blog-text-box {
  margin: 6.8rem 0;
  text-align: center;
}

.blog-box-info {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 6.8rem;
}

.blog-box img {
  width: 100%;
}

.blog-box h6 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.blog-box p {
  font-size: 1.5rem;
  color: #868e96;
}

.map {
  background: url(../assets/images/vertical-black-white-shot-rocky-formation-with-clouds.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.map-icon {
  color: #f03e3e;
  margin-top: 5rem;
  width: 2.4rem;
  height: 2.4rem;
}

.map a {
  text-decoration: none;
}

.map h3 {
  color: #f03e3e;
  letter-spacing: 0.2rem;
  position: relative;
  padding-bottom: 5rem;
}

.map h3::after {
  content: "⎯";
  display: block;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 0.9rem;
  color: red;
  position: absolute;
}
